<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahht.project.model.dao.CareerDao">


	<insert id="insert" parameterType="Career">
		insert into `Career`(`userId`,`content`)
		values(#{userId}, #{content});
	</insert>
	<update id="update" parameterType="Career">
		update `Career`
		set `name`=#{content}
		WHERE `id`=#{id};
	</update>
	<select id="selectByUser" parameterType="int" resultType="Career">
		SELECT * FROM `Career` 
		where userid=#{userid};
	</select>

	<select id="select" parameterType="int" resultType="Career">
		SELECT * FROM `Career` WHERE `id`=#{id};
	</select>




	<delete id="delete" parameterType="int">
		DELETE FROM `Career`
		where `id`=#{id};
	</delete>


</mapper>