<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahht.project.model.dao.UserDao">


	<insert id="insert" parameterType="User">
		insert into `user`(`username`, `nickname`, `age`, `tel`, `email`, `password`,
		`expert`, `fileName`, `fileUri`)
		values (#{username}, #{nickname}, #{age}, #{tel}, #{email}, #{password},
		#{expert}, #{fileName}, #{fileUri});
	</insert>
	
	
	<update id="update" parameterType="User">
		update `User`
		set
		`name`=#{username},
		`nickname`=#{nickname},
		`age`=#{age},
		`email`=#{email},
		`password`=#{password},
		`expert`=#{expert},
		`fileName`=#{fileName}, 
		`fileUri`=#{fileUri} 
		WHERE `id`=#{id};
	</update>

	<select id="selectBySearchcondition"
		parameterType="SearchCondition" resultType="User">
		SELECT * FROM `User`
		<if test="key!='none'">
			WHERE ${key}=#{word} 
		</if>
		<if test="orderBy!='none'">
			ORDER BY ${orderBy} ${orderDir} 
		</if>
	</select>

	<select id="selectAll" resultType="User">
		SELECT * FROM `User` ;
	</select>
	<select id="select" resultType="User"
		parameterType="java.lang.Integer"> 
		SELECT * FROM `User` where `id`=#{id} ;
	</select>

	<delete id="delete" parameterType="int">
		DELETE FROM `User`
		where
		`id`=#{id};
	</delete>
	
	<select id="getUserByEmail" parameterType="String" resultType="User">
		select * from user
		where email =#{email};
	</select>


</mapper>