<?xml version="1.0" enc<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahht.project.model.dao.ArticleDao">
	
	
	 <insert id="insert" parameterType="User">
	 	insert into `user`(name`, `nickname`, `age`, `tel`, `email`, `password`, `expert`,`fileName`,`fileUri`)
		values (#{name}, #{nickname}, #{age}, #{tel}, #{email], #{password}, #{expert}, #{fileName},#{fileUri});
	 </insert>
	 <update id="update" parameterType="User">
	 	update `User`
	 	set 
	 	`name`=#{name},
	 	 `nickname`=#{nickname}, 
	 	 `age`=#{age}, 
	 	 `age`=#{age}, 
	 	 `email`=#{email}, 
	 	 `password`=#{password}, 
	 	 `expert`=#{expert},
	 	 `fileName`#{fileName},
	 	`fileUri`=#{fileUri}
	 	WHERE `id`=#{id};
	 </update>
	 
	  <select id=" selectBySearchcondition" parameterType="SearchCondition" resultType="User">
	 	SELECT * FROM `User`
	 			<if test="key!='none'">
			where #{key}=#{word}
		</if>
		<if test="orderBy!='none'">
			order by #{orderBy}=#{orderDir};
		</if>
	 </select>
	 
	 <select id="selectAll" resultType="User">
	 	SELECT * FROM `User` ;
	 </select>
	  <select id="select" resultType="User" parameterType="int">
	 	SELECT * FROM `User` where `id`=#{id} ;
	 </select>
	 
	 <delete id="delete" parameterType="int" >
	 	DELETE FROM `User` 
	 	where `id`=#{id};
	 </delete>
	 
	 
</mapper>